@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}

body {

    position: relative;
    width: 100%;
}

.container {
    width: 100%;
    position: relative;

}

.divbackground {

    z-index: 0;
    height: 1080px;
    background: url(../img/mainbg.png) no-repeat center center;
    background-size: cover;
}

.divbackground2 {
position: absolute;
    width:   1200px;
height: 350px;

    z-index: 888;
    margin: auto;
left: 0;
    right: 0;
    top: -290px;
    bottom: 0;
}
.divbackground2 .mlogo {
    position: absolute;
    top: 0;
width: 582px;
        background: url(../img/mainlobodestlogo.png) no-repeat center center;
    background-size: 100%;
    height: 87px;
}
.mantt1 {
    position: absolute;
top: 100px;
    color: #302c2c;
    font-size: 18px;
}

.mantt1 span {
    font-weight: bold;
}

.mainsubimgcontent {
    position: absolute;
    top: 145px;
    width: 321px;
    background: url(../img/subimg.jpg)no-repeat center center;
    height: 102px;
    background-size: 100%;
}

.submain {

    position: relative;
    width: 100%;

}

.mainsubtext {
    position: absolute;
    top: 260px;
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
}


/*swiper*/

.swiper-container {

    margin: auto;
          max-width: 1200px;
    height: 300px;
    position: absolute !important;
    top: 500px;
    left: 0;
    right: 0;
    bottom: 0;

 
    }

    .swiper-slide {
        display: inline-block !important;
        margin-right: 10px !important;
/*        width: 295px !important;*/
        height: 300px;

      font-size: 18px;
      background: #fff;
background-size: 100%;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

/*slide box*/
.subslidecontent {
/*    글자사이즈 변경*/
    font-size: 14px;
/*    color 변경*/
    color: #716658; 
    padding: 15px 20px 0px 20px;
}

.subslidimg {
    
    background: url(../img/slideimg.jpg) no-repeat center center;
    width: 100%;
    height: 50%;
    background-size: 100%;
    border-top: 5px solid #a98568;
}

.graphbar {
     position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15px;
    background:#e3e0dd; 
    
}
.graphbar::before {
    content: "";
    display: block;
    width: 50%;
    height: 15px;
    background: #ab6934;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
}
.subdate {

}

.subtext {
font-size: 17px;
}
.subtextsub {
    font-size: 17px;
}

.subcountnum {
    color: #c26d28;
}

/*content2*/
.content2 {
width: 100%;    
    height: 300px;
    background: url(../img/content2.jpg) no-repeat center center;
    background-size:cover;
    
}

.content2_1 {
 position: relative;
    top: 53px;
width: 500px;
    height: 100%;
    
    margin: 0 auto;
    right: 100px;
}
.line1 {
    width: 51px;
    height: 6px;
    background: #a98568;
    display: block;
    position: relative;
    top: 10px;
}
.content2_1 .con2ttline {
    font-size: 48px;
    font-weight: 100;
    color: #71431f;
        margin-bottom: 40px;
}
.con2subline {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.7px;
    color: #744826;
    margin-bottom: 10px;
    font-size: 18px;

}
.content2_1 p{
    display: inline-block;
}
.content2 .con2subtt {
    color: #7e5729;
}
.content3 {
width: 100%;    
    height: 397px;
    background: url(../img/content3.jpg) no-repeat center center;
    background-size:cover;
    position: relative;
}
.content3 p {
    font-size: 24px;
    color: #d4d2cf;
    font-weight: 100;
   letter-spacing: 5px;
}
.content3_1 {
    top: 40px;
    
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
}
.content3imgbox {
    
width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
}
.imgbox {
    margin-right: 20px;
}
.imgbox.con1 {
        width: 380px;
    height: 250px;
    background: url(../img/content3img1.jpg) no-repeat center center;
    background-size: 100%;
    
}.imgbox.con2 {
        width: 380px;
    height: 250px;
    background: url(../img/content3img1.jpg) no-repeat center center;
    background-size: 100%;
}.imgbox.con3 {
        width: 380px;
    height: 250px;
    background: url(../img/content3img1.jpg) no-repeat center center;
    background-size: 100%;
}
.content4 {
    height: 550px;
    width: 100%;
}
.content4 .line1 {
    margin-bottom: 10px;
}
.content4_1 {
    margin: 0 auto;
    position: relative;
    max-width: 1200px;
    top: 15%;

}
.content4box {
    width: 575px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 95px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
}
.content4img {
    background: url(../img/content4boxbg.jpg) no-repeat center center;
    width: 200px;
    height: 80px;
    background-size: 100%;
}

.content4boxtt {
    display: inline-block;
    margin-top: -6px;
    margin-left: 20px;
}
.content4boxmtt p{
font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content4boxtt p:nth-child(1) {
    font-size: 14px;
    color: #6b6b6b;
    margin-bottom: 10px;
}.content4boxtt p:nth-child(2) {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}.content4boxtt p:nth-child(3) {
    font-size: 14px;
    color: #c26d28;
    cursor: pointer;
}
.contentflex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.content4mbox.con2 {
    margin-left: 30px;
}